<%- include("../partials/header"); -%>


<!-- socials-vertical  -starts-->
<div class="header-socials">
    <ul class="social-vertical">
      <li id="tw" class="wow fadeInUp" data-wow-delay="1.8s"><a href="https://twitter.com/mahendra_Dew" target="_blank">tw</a></li>
      <li id="li" class="wow fadeInUp" data-wow-delay="1.9s"><a href="https://www.linkedin.com/in/mahendradew/" target="_blank">li</a></li>
      <li id="gh" class="wow fadeInUp" data-wow-delay="2s"><a href="https://github.com/mahendradew/" target="_blank">gh</a></li>
      <li id="hn" class="wow fadeInUp" data-wow-delay="2.1s"><a href="https://hashnode.com/@mahendraDew" target="_blank">hn</a></li>
      <li id="ig" class="wow fadeInUp" data-wow-delay="2.2s"><a href="https://www.instagram.com/mahendra_dew02/" target="_blank">ig</a></li>
      <li><a href="" class="wow fadeInUp" data-wow-delay="2.3s"><span class="social-vertical-line"></span></a></li> 
    </ul>
  </div>
  <!-- socials-vertical  -ends-->

  <!-- hero section -starts -->
  <div class="hero">
    <div class="header">
      <h1 class="line anim-typewriter ">I make brands that matters.</h1>
    </div>
    <div class="profile-img-container">
      <div class="profile-img">
          <div class="img-box">
              <div class="img-wrapper wow fadeInUp" data-wow-delay="2.2s">
                <img class="profile-photo" src="images/profile photo3.jpg" alt="" class="wow fadeInUp dp-img" data-wow-delay="2.2s">
                
              </div>
              <!-- <div class="border-box wow fadeInUp" data-wow-delay="2.7s"></div> -->
          </div>
          <div id="profile-photo-border" class="border-box wow fadeInUp" data-wow-delay="2.7s"></div>
      </div>
    </div>
    
  </div>

  <div class="scroll-down"></div>

  
  <div class="hero-hr">
    <div class="row"></div>
  </div>
  <!-- moving-ring -starts -->
  <div class="loading-container">
    <div class="loading-screen"></div>

    <div class="loader">
      <div class="ringOne ring">
        <img src="images/ring.png" alt="" />
      </div>
      <div class="ringTwo ring">
        <img src="images/ring.png" alt="" />
      </div>
    </div>
  </div>
  
  <!-- hero section -ends -->


  

  <!-- projects section -starts -->
  <%- include("/projects"); -%>

  <!-- projects section -ends -->

  

  <!-- footer -->
  <%- include("../partials/footer"); -%>
